@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 80%;
    height: 95vh;
    /* border: 1px solid #000; */
    margin: auto;
}

header nav {
    width: 95%;
    height: 9%;
    /* border: 1px solid #000; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 3px 15px;
}

header nav ul li:nth-last-child(1) {
    background: #000;
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: 5px;
}

header nav ul li:nth-last-child(1) a {
    color: #fff;
}

header nav ul li:nth-last-child(2) {
    background: #000;
    border-radius: 20px;
    padding: 5px 20px;
}

header nav ul li:nth-last-child(2) a {
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    transition: .3s linear;
}

header nav ul li a:hover {
    color: #928888;
}

header nav .bi-three-dots {
    display: none;
}

header .content {
    position: relative;
    width: 100%;
    height: 93%;
    /* border: 1px solid #000; */
}

header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    /* border: 1px solid #000; */
    background: url(/img/bg1.jpg) no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;
}

header .content .cont_box {
    width: 500px;
    height: auto;
    color: #fff;
    padding: 30px;
}

header .content .cont_box h1 {
    line-height: 40px;
    font-weight: 800;
}

header .content .cont_box h1 p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(241, 241, 241);
}

header .content .cont_box button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    /* border: 2px solid #000; */
    background: #000;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}

header .content .cont_box button:hover {
    background: #fff;
    color: #000;
}

header .trip_box {
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    /* border: 1px solid #000; */
}

header .trip_box .search_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgb(114, 114, 114);
    z-index: 1;
    padding: 2px 20px;
}

header .trip_box .search_box .card {
    width: 200px;
    height: 100%;
    /* border: 1px solid #000; */
    padding: 10px;
}

header .trip_box .search_box .card h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}

header .trip_box .search_box .card h4 .bi {
    position: absolute;
    font-size: 13px;
    margin: 2px 0px 0px 5px;
    transition: .3s linear;
}

header .trip_box .search_box .card input {
    margin-top: 2px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}

header .trip_box .search_box input[type="button"] {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s linear;
    cursor: pointer;
}

header .trip_box .search_box input[type="button"]:hover {
    background: #727070;
}

header .trip_box .travel_box {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    top: 30px;
    /* background-color: #000; */
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 20px 25px -10px rgb(165, 165, 165);
}

header .trip_box .travel_box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(241, 241, 241, .7);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .trip_box .travel_box h4 {
    margin: 0;
    padding: 40px 0px 15px 1.7%;
}

header .trip_box .travel_box .cards {
    width: 96%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .trip_box .travel_box .cards .card {
    width: 220px;
    height: 180px;
    /* border: 1px solid #000; */
}

header .trip_box .travel_box .cards .card h3 {
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

header .trip_box .travel_box .cards .card h3 img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

header .trip_box .travel_box .cards .card img {
    width: 100%;
    height: 50%;
}

header .trip_box .travel_box .cards .card .btn_city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #000; */
}

header .trip_box .travel_box .cards .card .btn_city a {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 11px;
    transition: .3s linear;
}

header .trip_box .travel_box .cards .card .btn_city a:hover {
    background: #727070;
}

header .trip_box .travel_box .cards .card .btn_city h5 {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    line-height: 15px;
    padding-right: 10px;
}

header .trip_box .travel_box .cards .card .btn_city h5 span {
    font-size: 13px;
    font-weight: 700;
}


/*  headers end  */


/*  Offers section  */

.offers {
    width: 60%;
    height: auto;
    /* border: 1px solid #000; */
    margin: auto;
    margin-top: 180px;
    transition: .5s linear;
}

.offers h1 {
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.offers p {
    font-weight: 450;
    text-align: center;
    margin: 0;
}

.offers .cards {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #000; */
    /* flex-wrap: wrap; */
    /* change later margin also */
    gap: 5px;
}

.offers .cards .card {
    position: relative;
    width: 200px;
    height: 350px;
    /* border: 1px solid #000; */
    /* margin: 10px; */
}

.offers .cards .card h3 {
    width: 140px;
    padding: 6px 0px;
    background: rgb(165, 243, 165);
    border-radius: 12px;
    font-size: 12px;
    display: grid;
    place-items: center;
    margin: auto;
}

.offers .cards .card .img_text {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 5px;
}

.offers .cards .card .img_text img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.offers .cards .card .img_text h4 {
    position: absolute;
    font-size: 9px;
    padding: 10px 15px;
    bottom: 0;
    margin: 0;
    color: #fff;
    z-index: 2;
}

.offers .cards .card .img_text h4::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    bottom: 0;
    left: 0;
}

.offers .cards .card .cont_box {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(214, 214, 214);
    padding: 5px 0px;
    border-radius: 0px 0px 5px 5px;
}

.offers .cards .card .cont_box .price,
.days {
    margin: 0px 8px;
}

.offers .cards .card .cont_box .price .heart_chat {
    display: flex;
    align-items: center;
}

.offers .cards .card .cont_box .price .heart_chat i:nth-child(1) {
    color: red;
    font-size: 10px;
    margin-right: 10px;
}

.offers .cards .card .cont_box .price .heart_chat i span {
    color: #000;
    font-size: 10px;
    margin-left: 3px;
    font-style: normal;
}

.offers .cards .card .cont_box .price .heart_chat i:nth-child(2) {
    color: rgb(112, 196, 229);
    font-size: 12px;
    margin-right: 10px;
}

.offers .cards .card .cont_box .price .info_price {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.offers .cards .card .cont_box .price .info_price a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 10px;
    transition: .3s linear;
    margin-right: 13px;
}

.offers .cards .card .cont_box .price .info_price a:hover {
    color: gray;
}

.offers .cards .card .cont_box .price .info_price h4 {
    margin: 0;
    font-size: 13px;
}

.offers .cards .card .cont_box .days {
    color: #fff;
    background: #000;
    font-size: 8px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
}

.offers .cards .card .cont_box .days:hover {
    transform: rotate(360deg);
}


/*  Destination Section  */

.destination {
    width: 45%;
    height: auto;
    /* border: 1px solid #000; */
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination .des_box,
.img_box {
    position: relative;
    width: 50%;
    height: auto;
    /* border: 1px solid #000; */
}

.destination .des_box h4 {
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 10px;
    letter-spacing: 1px;
}

.destination .des_box p {
    font-size: 12px;
}

.destination .des_box li {
    list-style-type: none;
    padding: 0px 0px 8px 0px;
    font-size: 12px;
    font-weight: 500;
}

.destination .des_box h6 {
    width: 250px;
    font-size: 12px;
    font-weight: 500;
    margin: 20px 0px;
}

.destination .des_box button {
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    /* border: 2px solid #000; */
    transition: .3s linear;
}

.destination .des_box button:hover {
    background: gray;
    border: 2px solid gray;
}

.start-btn {
    font-size: 12px;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 15px;
    text-decoration: none;
    /* font-weight: bold; */
    transition: .3s linear;
}

.start-btn:hover {
    background: gray;
    border: 2px solid gray;
}

.destination .img_box img {
    width: 100%;
    height: 420px;
    border-radius: 5px;
}

.destination .img_box .msg {
    position: absolute;
    top: 50%;
    left: -10%;
    width: 160px;
    height: 50px;
    background: #fff;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
}

.destination .img_box .msg:nth-child(2) {
    top: 10%;
    left: 55%;
}

.destination .img_box .msg img {
    width: 30px;
    height: 55%;
}

.destination .img_box .msg .cont {
    margin-left: 15px;
}

.destination .img_box .msg .cont h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.destination .img_box .msg .cont .bi:nth-child(1) {
    color: red;
    margin-right: 5px;
    font-size: 13px;
}

.destination .img_box .msg .cont .bi span {
    font-style: normal;
    margin-left: 3px;
    font-size: 12px;
    color: gray;
}

.destination .img_box .msg .cont .bi:nth-child(2) {
    color: rgb(112, 196, 229);
    margin-right: 5px;
    font-size: 13px;
}


/* Footer Section */

footer {
    width: 100%;
    height: auto;
    background: rgb(249, 249, 255);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h2 {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    line-height: 30px;
    font-weight: 600;
}

footer p {
    text-align: center;
    width: 400px;
    font-size: 13px;
}

footer .input {
    box-shadow: 0px 3px 20px -1px gray;
    border-radius: 20px;
}

footer .input input {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px;
}

footer .input button {
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

footer .input button:hover {
    background: gray;
}

footer ul {
    list-style: none;
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
}

footer ul li {
    text-align: center;
    margin-right: 30px;
    font-weight: bold;
}

footer ul li h6 {
    font-size: 11px;
    font-weight: 600;
    max-width: 120px;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #000;
    padding-top: 2px;
}


/* Mobile Responsiveness */

@media (max-width: 768px) {
    /* Header adjustments */
    header {
        width: 95%;
        height: auto;
        padding-bottom: 30px;
    }
    header nav {
        width: 100%;
        padding: 15px 0;
    }
    header nav ul {
        display: none;
        /* Hide desktop menu */
    }
    header nav .bi-three-dots {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    /* Hero content */
    header .content {
        height: auto;
        padding-bottom: 20px;
    }
    header .content::before {
        height: 300px;
        /* Reduce hero image height */
    }
    header .content .cont_box {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    header .content .cont_box h1 {
        font-size: 24px;
        line-height: 30px;
    }
    /* Search box */
    header .trip_box .search_box {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 15px;
        margin-top: 20px;
    }
    header .trip_box .search_box .card {
        width: 100%;
        margin-bottom: 10px;
    }
    header .trip_box .search_box input[type="button"] {
        width: 100%;
        margin-top: 10px;
    }
    /* Travel cards */
    header .trip_box .travel_box .cards {
        flex-direction: column;
    }
    header .trip_box .travel_box .cards .card {
        width: 100%;
        margin-bottom: 20px;
    }
    /* Offers section */
    .offers {
        width: 90%;
        margin-top: 100px;
    }
    .offers .cards {
        flex-direction: column;
        align-items: center;
    }
    .offers .cards .card {
        width: 100%;
        max-width: 300px;
        margin-bottom: 30px;
    }
    /* Destination section */
    .destination {
        width: 90%;
        flex-direction: column;
    }
    .destination .des_box,
    .destination .img_box {
        width: 100%;
    }
    .destination .img_box {
        margin-top: 30px;
    }
    .destination .img_box .msg {
        position: relative;
        left: 0;
        margin: 10px 0;
    }
    .destination .img_box .msg:nth-child(2) {
        top: auto;
        left: 0;
    }
    /* Footer */
    footer p {
        width: 90%;
    }
    footer ul {
        flex-direction: column;
        align-items: center;
    }
    footer ul li {
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .input {
        width: 90%;
    }
    footer .input input {
        width: 60%;
    }
    footer .input button {
        width: 40%;
    }
}


/* Small mobile devices (up to 480px) */

@media (max-width: 480px) {
    header .content::before {
        height: 250px;
    }
    header .content .cont_box h1 {
        font-size: 20px;
    }
    .destination .des_box button,
    .start-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
    footer .input input,
    footer .input button {
        padding: 12px 15px;
    }
}


/* Mobile menu implementation */

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.mobile-menu ul li:nth-last-child(1) a,
.mobile-menu ul li:nth-last-child(2) a {
    background: white;
    color: black;
    border-radius: 25px;
}

.mobile-menu .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


/* Navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 95%;
    margin: auto;
}

#menu_box {
    display: flex;
    list-style: none;
    transition: transform 0.3s ease;
}

#menu_box li {
    padding: 2px 10px;
}

#menu_box li:nth-last-child(1) {
    background: #000;
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: 5px;
}

#menu_box li:nth-last-child(1) a {
    color: #fff;
}

#menu_box li:nth-last-child(2) {
    background: #000;
    border-radius: 20px;
    padding: 5px 20px;
}

#menu_box li:nth-last-child(2) a {
    color: #fff;
}

#menu_box li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    transition: .3s linear;
}

#menu_box li a:hover {
    color: #928888;
}

.bi-three-dots {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}


/* Responsive styles */

@media (max-width: 768px) {
    #menu_box {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }
    #menu_box.active {
        right: 0;
    }
    .bi-three-dots {
        display: block;
        z-index: 101;
    }
    /* Change icon to X when menu is open */
    .bi-x::before {
        content: "\F62A";
        /* Bootstrap Icons X icon */
    }
}